h1 {
    background-color: white;
    text-align: center;
    padding: 25px;
    margin: 0px;
}

img {
    width: 300px;
    height: 300px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    text-align: center;
    max-width: 300px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: antiquewhite;

}